/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif; /* Updated to Inter for a modern and clean look */
    margin: 0;
    padding: 0;
    background-color: #C06014; /* Darker Orange as the main background */
    color: white;
    font-size: 24px; /* Base font size for readability */
    text-align: left; /* Left-align all text */
}

section {
    padding: 80px 40px;
    border: none;
    transition: background-color 0.3s; /* Smooth transitions for hover effects */
}

.header-section {
    background-color: #003285; /* Dark Blue */
    padding: 40px;
    font-size: 48px; /* Larger font size for header */
}

.intro-section, .personal-section, .philosophy-section, .contact-section {
    background-color: #2A629A; /* Medium Blue */
    padding: 35px;
}

.intro-section:hover, .personal-section:hover, .philosophy-section:hover, .contact-section:hover {
    background-color: #003285; /* Dark Blue on hover */
}

.highlights-section {
    background-color: #FF7F3E; /* Citrus Orange */
    font-size: 28px; /* Larger font size for important sections */
}

.contact-section {
    font-size: 28px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px; /* Larger font size for links */
}

a:hover {
    color: #FF7F3E; /* Citrus Orange */
    text-decoration: underline;
}

footer {
    background-color: #003285; /* Dark Blue */
    color: white;
    padding: 20px 0;
    text-align: center;
}
